<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>NCP Community Feedback</title>
    <link rel="stylesheet" href="/static/style.css"/>
</head>
<body>
    <header>
        <img class="header-logo" src="/static/logo.png" alt="NCP Logo"/> <h1>{% block title %}NCP Community Feedback{% endblock %}</h1>
    </header>
    <main>
    {% block content %}{% endblock %}
    </main>
{% block footer %}
    <footer>
        <a href="https://github.com/theCalcaholic/ncp-community-feedback">github</a>, License: MIT
    </footer>
{% endblock %}
</body>
</html>