{% extends "base.html" %}

{% block title %}NCP community feedback{% endblock %}
{% block content %}
{% if !err.is_empty() %}
<div class="message">{{ err }}</div>
{% endif %}
<div>Thank you for helping me test staged rollouts for NCP!
    By visiting this page, you are helping me to confirm whether the feature works as intended.
</div>
<div>
    If you want to have more details about staged rollouts, checkout my
    <a href="https://help.nextcloud.com/t/nextcloudpi-safer-updates-and-community-participation-settings/174742">
        release post
    </a>.
</div>
{% endblock content %}